table {
    margin-top: 5%;
    height: 10px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    border: none;
    width: 100%;
    overflow-y: scroll;
    height: 250px;
    display: block;

}

td,
th {

    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.dropdown {
    display: inline-block;
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    width: 100%;
    overflow: auto;
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content button {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
}

.dropdown-content button:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}